@import url("reset.css");

.wrapper{
	background: rgb(231,169,148);
    background: linear-gradient(0deg, rgb(233, 208, 200) 21%, rgb(221, 233, 233) 100%);
    min-height: 100vh;
    width: 100%;
}
.tabs {
	position: relative;
	margin: auto;
	width: 500px;
	border: 1px solid #b9b5b5;
    /*border-radius: 10px;*/
    background: #ffffff9c;
    box-shadow: 0px 0px 20px #403d3d7a;
    top: 50px;
}
.tabs label {
	color: #555;
	cursor: pointer;
	display: block;
	float: left;
	width: 100px;
	height: 45px;
	line-height: 45px;
	position: relative;
	/*top: -1px;*/
	text-align: center;
	border: 1px;
    border-style: solid;
    border-color: #b9b5b5;
    border-left: 0;
    border-top: 0;
}

.tabs input {
	position: absolute;
	left: -9999px;
}

#tab_1:checked  ~ #tab_l1,
#tab_2:checked  ~ #tab_l2,
#tab_3:checked  ~ #tab_l3 {
	background: rgb(255, 255, 255, 1);
	top: 0;
	z-index: 3;
	/*border: 1px solid rgb(255, 255, 255, 0.61);*/
	border-bottom: 0px;
	/*border-radius: 10px 10px 0 0;*/
}
.text_tabs {
	background: rgb(255, 255, 255, 1);
	position: relative;
	z-index: 2;
	height: 232px;
	/*border-radius: 0 0 10px 10px;*/
	padding: 8px;
	border-top: 1px solid #b9b5b5;
	top: -2px;
}
.text_tabs > div {
	position: absolute;
	left: -9999px;
	top: 0;
	opacity: 0;
	-moz-transition: opacity .5s ease-in-out;
	-webkit-transition: opacity .5s ease-in-out;
	transition: opacity .5s ease-in-out;
}
#tab_1:checked ~ .text_tabs #tab1,
#tab_2:checked ~ .text_tabs #tab2,
#tab_3:checked ~ .text_tabs #tab3 {
	position: static;
	left: 0;
	opacity: 1;
}